@import "tailwindcss";

@theme {
  --color-primary: #CF161C;
  --color-cream: #FFFAF0;
  --color-black: #333333;
  --color-white: #FFFFFF;

  --font-abril: var(--font-abril);
  --font-poppins: var(--font-poppins);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body {
  background: #FFFFFF;
  color: #333333;
  font-family: var(--font-poppins);
}